:root {
  --oauth2-login-button-bg-color: #000000;
  --oauth2-login-button-bg-color-hover: #000000;
}

.login-btn-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  button:not(:disabled):not(.disabled):active {
    color: #fff;
    border: 0;
  }

  button:hover {
    background-color: var(--oauth2-login-button-bg-color-hover) !important;
    color: #fff !important;
  }

  button:focus {
    outline: none !important;
  }

  button {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    flex-grow: 1;
    font-weight: 400;
    user-select: none;
    background-color: var(--oauth2-login-button-bg-color);
    margin: 4px 0;
    font-family: inherit;
    overflow: visible;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 6px;
    padding: 8px 11px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 36px;
    line-height: 1;
  }

  button[disabled] {
    background-color: var(--oauth2-login-button-bg-color-hover);
    border-color: var(--oauth2-login-button-bg-color-hover);
    opacity: 1;
  }

  button.button--loading {
    svg, .login-btn--btn-text {
      display: none;
    }
  }

  .button--loading::after {
    content: "";
    width: 18px;
    height: 18px;
    border: 3px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
    box-sizing: border-box;
  }

  button svg {
    margin-right: 12px;
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
}
